.chat-container {
    width: 600px;  /* 横幅を大きく */
    height: 700px; /* 縦幅を大きく */
}

#chatWindow p {
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    word-wrap: break-word;
    max-width: 90%; /* メッセージ幅の制限 */
}

#colorInput {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}
