body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 600px;  /* 横幅を大きく */
    height: 700px; /* 縦幅を大きく */
}

#chatWindow p {
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    word-wrap: break-word;
    max-width: 90%; /* メッセージ幅の制限 */
}

#colorInput {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}


#chatWindow {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 14px;
}

#chatWindow p {
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
}

#usernameInput, #chatInput {
    width: 100%;
    padding: 15px; /* フィールドを大きくする */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#errorMessage {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
